* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 97.5%;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: #333333;
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button {
    border-radius: 0;
    border: 1px solid #111111;

    background: #222222;
    color: #eeeeee;

    padding: 2px;
}

button:hover {
    background: #282828;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    vertical-align: middle;
}

#header h1 {
    display: block;
    height: 100%;
    float: left;
    width: 30%;
    vertical-align: middle;
    padding-left: 5%;
    box-sizing: border-box;
}

#header #bpm {
    /*display: block;*/
    display: none;
    float: left;
    height: 100%;
    width: 50px;
    height: 30px;
    padding: 0 10px;
}

#header #bpm input {
    display: block;
    margin: auto;
    height: 20px;
    width: 100%;
}

#header #music-controls {
    display: block;
}

#header #music-controls > * {
    margin: 1em;
    padding: 1em;
}

#app-body {
    position: absolute;
    bottom: 0;
    top: 100px;
    width: 100%;
    display: block;
}

#sequencer {
    display: block;
    float: left;
    height: 100%;
    width: 600px;
    box-sizing: border-box;
    border: 1px solid #101010;
}

#sequencer .header {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #101010;
    padding: 2px;
}

#sequencer .header .clip-selector {
    box-sizing: border-box;
    height: 100%;
    width: 250px;
    border: 1px solid #111111;
    border-radius: 0;
    background: #757575;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: #ffffff;
}

#sequencer .header .add-selector {
    box-sizing: border-box;
    height: 100%;
    width: 30px;
    border: 1px solid #111111;
    border-left: 0;
    border-radius: 0;
    background: #444444;
    color: #ffffff;
}


#sequencer .channel-list .channel {
    height: 40px;
    padding: 0;
}

#sequencer .channel-list .channel .name {
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    /*height: 100%;*/

    border: 1px solid #111111;
    background: #4f4f4f;
    float: left;
    margin: 5px;

}

#sequencer .channel-list .channel > .sequence {
    box-sizing: border-box;
    display: inline-block;
    width: 416px;
    height: 30px;
    float: right;
    margin: 5px;

}

.toggle {
    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    height: 30px;
    border: 1px solid #111111;
    margin: 0px 3px;
    background: #2e2e2e;
}

.toggle.alt {
    background: #313131;
}

.toggle:hover {
    background: #313131;
}

.toggle.alt:hover {
    background: #353535;
}

.toggle.on {
    background: #FF6A00;
}
.toggle.alt.on {
    background: #FF7800;
}

.toggle.on:hover {
    background: #FF7800;
}
.toggle.alt.on:hover {
    background: #FF8000;
}

#playlist {
    display: block;
    height: 100%;
    width: calc(100% - 610px);
    float: left;
    border: 1px solid #111111;
    margin-left: 10px;
}

#playlist .counter-header {
    display: block;
    height: 30px;
    overflow-y: visible;
    white-space: nowrap;
}

#playlist .counter-header .cell {
    display: inline-block;
    height: 100%;
    width: 100px;
    border-right: 1px solid #111111;
    border-bottom: 1px solid #111111;

    text-align: center;
    line-height: 30px;
    vertical-align: middle;

    color: #585858;
    background: #2e2e2e;
}

#playlist .counter-header .cell.alt {
    background: #303030;
}

#playlist .lanes {
    overflow-x: scroll;
    height: 100%;
}

#playlist .lanes .lane {
    display: block;
    height: 100px;
    overflow-y: visible;
    white-space: nowrap;
}

#playlist .lanes .lane .cell {
    display: inline-block;
    height: 100%;
    width: 100px;
    border-right: 1px solid #111111;
    border-bottom: 1px solid #111111;

    background: #333333;
}

#playlist .lanes .lane .cell.alt {
    background: #383838;
}

#playlist .lanes .lane .cell:hover {
    background: #383838;
}

#playlist .lanes .lane .cell.alt:hover {
    background: #3d3d3d;
}

#playlist .lanes .lane .cell .clip-instance {
    height: 100%;
    width: 100%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    text-align: center;

    background: #FF6A00;

    line-height: 99px;

    font-size: 14px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background: #444444;
    border: 1px solid #111111;

    padding:  10px 30px;

    display: none;
}

.modal.visible {
    display: block;
}

.modal h1 {
    margin: 3px 0;
    padding: 0;
    font-size: 16px;
}

.modal input {
    border-radius: 0;
    border: 1px solid #111111;

    background: #aaaaaa;

    margin: 10px 0;

    color: #000000;

    padding: 2px;
}

.modal .buttons {
    margin: auto;
    text-align: center;
}

.modal button {
    background: #333333;

    margin: 0 5px;
}

.modal button:hover {
    background: #3c3c3c;
}


.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:10;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.overlay-content {
    display: inline-block;
    border: 1px solid #4f4f4f;
    background-color: #2e2e2e;
    color: whitesmoke;
    padding: 1em;
    margin-top: 2em;
    text-align: initial;
}

.overlay-content > div {
    margin: 1em;
}